<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
  </head>
  <body>
    <h1>About page</h1>
   <%-include('./partials/nav.ejs') %>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam velit
      at quis nemo sint provident dignissimos. Veritatis enim quae impedit non
      maiores aspernatur, dolore perferendis quidem magnam dolores, cumque
      ratione corporis provident iure quo, laudantium eius voluptatibus a dolor
      reiciendis!
    </p>
  </body>
</html>
